.header{
    height: 10vh;
    background-color: #d89c7cd2;
    padding-left: 34px;
    padding-right: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.399);
}
h1{
    color: white;
    font-size: 20px;
}
.support-me{
    display: flex;
    align-items: center;
}

.qr{
    height: 50px;
    width: 50px;
}

